@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  background-image: url(./images/bg-pattern-desktop.svg);
  background-color: #fff5f5;
}

.navigation {
  height: 70px;
  display: flex;
  align-items: center;
  background-color: white;
}
.navigation img {
  width: 110px;
  margin-left: 30px;
}

.image img {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.content h1 {
  font-size: 2.5rem;
  width: fit-content;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin: 60px 10px 20px;
  color: hsl(0deg, 6%, 24%);
}
.content span {
  color: hsl(0deg, 36%, 70%);
  font-weight: 300;
}
.content p {
  padding: 0 30px;
  font-size: 0.9rem;
  color: hsl(0deg, 36%, 70%);
  line-height: 24px;
}

.form {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 50px;
}
.form div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  margin: 0 35px;
}
.form input {
  background-color: transparent;
  border: 1px solid hsl(0deg, 36%, 70%);
  border-radius: 50px;
  padding: 15px 30px;
  width: 100%;
  color: hsl(0deg, 6%, 24%);
}
.form input::placeholder {
  color: #e2c1c1;
}
.form input:focus {
  outline: none;
  border-width: 2px;
}
.form button {
  background-image: linear-gradient(135deg, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
  border: none;
  border-radius: 50px;
  width: 60px;
  height: 100%;
  position: absolute;
  right: 0;
  box-shadow: 0 5px 20px hsl(0deg, 36%, 70%);
}
.form button:hover {
  cursor: pointer;
  opacity: 70%;
}
.form #error {
  position: absolute;
  right: 40px;
  top: 10px;
  background-color: hsl(0deg, 93%, 68%);
  width: 25px;
  height: 25px;
  border-radius: 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.form #error-text {
  position: absolute;
  top: 60px;
  left: -8px;
  font-size: 0.8rem;
  color: hsl(0deg, 93%, 68%);
  display: none;
}

#message {
  color: hsl(0deg, 6%, 24%);
  margin: 20px;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  body {
    background-size: 100%;
    background-color: transparent;
  }
  .main {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100px auto;
  }
  .image {
    background-image: url(./images/hero-desktop.jpg);
    grid-column: 2/3;
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  .image img {
    display: none;
  }
  .navigation {
    grid-column: 1/2;
    grid-template-rows: 1/2;
    background-color: transparent;
    padding: 70px 100px;
  }
  .navigation img {
    width: 150px;
  }
  .content {
    grid-column: 1/2;
    grid-template-rows: 1/3;
    margin: 100px 40px 0 130px;
    align-items: flex-start;
    text-align: flex-start;
    padding-right: 50px;
    height: auto;
    max-width: 700px;
  }
  .content h1 {
    text-align: left;
    margin: 0;
    font-size: 4rem;
    margin-bottom: 20px;
  }
  .content p {
    text-align: left;
    padding: 0;
  }
  .form {
    margin: 0;
    padding: 0;
    margin-top: 30px;
  }
  .form input {
    height: 100%;
  }
  .form div {
    margin: 0;
    height: 50px;
  }
  .form #error {
    right: 70px;
  }
  .form #error-text {
    left: 30px;
  }
  #message {
    margin: 20px 0;
  }
}
@media screen and (max-height: 700px) {
  .navigation {
    padding-left: 20px;
  }
  .content {
    margin-top: 30px;
    margin-left: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
